#bt-root{
    background: #05071d!important;
}
[data-editor-id="navbar"] {
    background:#191b32!important;
}
.fACJAa{
    background:#4f5489!important;
}
.lkROlQ{
    background:#191b32!important;
}