#bt-root{
    background: #111212!important;
}
[data-editor-id="navbar"] {
    background:#212425!important;
}
.fACJAa{
    background:#323637!important;
}
.lkROlQ{
    background:#212425!important;
}