#bt-root{
    background: #001510!important;
}
[data-editor-id="navbar"] {
    background:#001510!important;
}
.fACJAa{
    background:#003628!important;
}
.lkROlQ{
    background:#001510!important;
}